.image-container {
  flex: 1;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  user-select: none;
}

.annotation {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
}
